In [32]:
import pandas as pd

In [33]:
df1 = pd.read_csv('./info19.csv')
df2 = pd.read_csv('./info25.csv')
df3 = pd.read_csv('./infolast.csv')
df = pd.concat([df1, df2, df3], axis=0)
df = df.drop(['Unnamed: 0'], axis=1)

In [34]:
# df.head()

In [35]:
df.describe()

             liked
count  1298.000000
mean     92.859014
std     281.177880
min       0.000000
25%      10.000000
50%      31.000000
75%      87.750000
max    7189.000000

In [36]:
# df

In [37]:
df = df.sort_values(by=['liked'], ascending=False)

In [39]:
df.to_csv("res.csv",index=False,sep=',')